<h2 class="content-block">Profile</h2>

<div class="content-block dx-card responsive-paddings">
  <div class="form-avatar">
    <img
    />
  </div>
</div>

<div class="content-block dx-card responsive-paddings">
  <dx-form id="form"
  [formData]="employee"
  labelLocation="top"
  [colCountByScreen]="colCountByScreen"
  (onFieldDataChanged)="onFormValueChanged($event)">

  <dxi-item 
    dataField="Email"
    editorType="dxTextBox"
    [editorOptions]="{ placeholder: 'Entrer votre mail' }">
  </dxi-item>

  <dxi-item 
    dataField="nom_personnel"
    editorType="dxTextBox"
    [editorOptions]="{ placeholder: 'Entrer votre prenom' }">
  </dxi-item>

  <dxi-item 
    dataField="prenom_personnel"
    editorType="dxTextBox"
    [editorOptions]="{ placeholder: 'Entrer votre nom' }">
  </dxi-item>

  <dxi-item 
    dataField="date_naissance_personnel"
    editorType="dxDateBox"
    [editorOptions]="{ displayFormat: 'dd/MM/yyyy', placeholder: 'Entrer votre date de naissance' }">
  </dxi-item>

  <dxi-item 
    dataField="adresse_personnel"
    editorType="dxTextBox"
    [editorOptions]="{ placeholder: 'Entrer votre adresse' }">
  </dxi-item>


</dx-form>


    <dx-button text="Sauvegarder" type="default" (onClick)="submitForm()">
    </dx-button> 
</div>
