<br />

<dx-button
  type="default"
  (onClick)="showPopupEditIntervention($event)"
  icon="/assets/icons/intervention.png"
  text="Editer mes interventions"
  style="margin-right: 10px; margin-left: 10px"
  *ngIf="!interventionbool"
></dx-button>

<dx-button
  type="default"
  (onClick)="showPopupEditInterventionall($event)"
  icon="/assets/icons/intervention.png"
  text="Editer les interventions"
  style="margin-right: 10px; margin-left: 10px"
  *ngIf="interventionbool"
></dx-button>

<dx-button
  type="default"
  (onClick)="showPopupIntervention($event)"
  icon="/assets/icons/intervention.png"
  text="Intervention & Prestation médicale"
  *ngIf="interventionbool"
  style="margin-right: 10px; margin-left: 10px"
></dx-button>

<br />
<br />

<!-- POPUP POUR INFIRMIER -->
<dx-popup
  [width]="'80%'"
  [height]="'80%'"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupVisibleEditIntervention"
  title="Editer mes interventions"
>
  <div>
    <h2>Edition des interventions</h2>


        










    
        <label for="categorie">Sélectionnez une catégorie :</label>
        <select id="categorie" name="categorie" onchange="updateSousCategorie()">
          <option value="actes-soin">Actes de soin</option>
          <option value="actes-analyse">Actes d’analyse</option>
          <option value="actes-preventifs">Actes préventifs</option>
        </select>
        
        <label for="sousCategorie">Sélectionnez une prestation :</label>
        <select id="sousCategorie" name="sousCategorie">
          <!-- Les options seront mises à jour dynamiquement par JavaScript -->
        </select>





























    <dx-data-grid
      id="gridContainerInterventions"
      [dataSource]="interventionfiltrermapday"
      keyExpr="id_intervention"
      [showBorders]="true"
      (onRowUpdating)="onRowUpdating($event)"
    >
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [texts]="{ saveRowChanges: 'Enregistrer', cancelRowChanges: 'Annuler' }"
      >
      </dxo-editing>
    </dx-data-grid>
  </div>

  <div>
    <h2>Edition des prestations du jour</h2>

    <dx-data-grid
      id="gridContainerPrestations"
      [dataSource]="prestationsFiltrees"
      keyExpr="id_intervention"
      [showBorders]="true"
      (onRowUpdating)="onRowUpdating2($event)"
    >
      <dxi-column
        dataField="id_intervention"
        caption="ID Intervention"
      ></dxi-column>
      <dxi-column
        dataField="libelle_prestation"
        caption="Libellé Prestation"
      ></dxi-column>
      <dxi-column
        dataField="id_prestation"
        caption="ID Prestation"
      ></dxi-column>
      <dxo-editing
        mode="popup"
        [texts]="{ saveRowChanges: 'Enregistrer', cancelRowChanges: 'Annuler' }"
      >
      </dxo-editing>
    </dx-data-grid>
    <br />
    <dx-button
      text="Ajouter une nouvelle prestation"
      (onClick)="openAddPrestationPopup()"
    >
    </dx-button>

    <dx-popup
      [width]="'80%'"
      [height]="'80%'"
      [hideOnOutsideClick]="true"
      [showCloseButton]="true"
      [showTitle]="true"
      [(visible)]="popupVisibleAddPrestation"
      [title]="'Ajout d une prestation supplémentaire'"
    >
      <div *dxTemplate="let data of 'content'">
        <dx-form [formData]="addPrest">
          <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
            <dxi-item
              dataField="id_intervention"
              editorType="dxSelectBox"
              [editorOptions]="{
          dataSource: idsInterventionArray,
          displayExpr: 'id_intervention',
        }"
            >
            </dxi-item>
            <dxi-item
              dataField="id_prestations"
              editorType="dxTagBox"
              [editorOptions]="{
            dataSource: prestationsall,
            valueExpr: 'id_prestation',
            displayExpr: 'libelle_prestation',
            placeholder: 'Sélectionner des prestations',
            width: '100%',
            searchEnabled: true,
            showSelectionControls: true,
            multiline: true,
          }"
            ></dxi-item>
          </dxi-item>
        </dx-form>
        <div style="text-align: center; margin-top: 20px">
          <dx-button
            icon="floppy"
            (click)="onSubmitNewPrest($event)"
          ></dx-button>
        </div>
      </div>
    </dx-popup>
  </div>
</dx-popup>

<!-- POPUP POUR SECRETAIRE -->
<dx-popup
  [width]="'80%'"
  [height]="'80%'"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupVisibleEditInterventionAll"
  title="Editer les interventions"
>
  <div>
    <h2>Edition des interventions</h2>

    <dx-data-grid
      id="gridContainerInterventions"
      [dataSource]="agendasPrevisionnels3"
      keyExpr="id_intervention"
      [showBorders]="true"
      (onRowUpdating)="onRowUpdating2($event)"
    >
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [texts]="{ saveRowChanges: 'Enregistrer', cancelRowChanges: 'Annuler' }"
      >
      </dxo-editing>
    </dx-data-grid>
  </div>

  <div>
    <h2>Edition des prestations</h2>

    <dx-data-grid
      id="gridContainerPrestations"
      [dataSource]="prestations"
      keyExpr="id_intervention"
      [showBorders]="true"
      (onRowUpdating)="onRowUpdating2($event)"
    >
      <dxi-column
        dataField="id_intervention"
        caption="ID Intervention"
      ></dxi-column>
      <dxi-column
        dataField="libelle_prestation"
        caption="Libellé Prestation"
      ></dxi-column>
      <dxi-column
        dataField="id_prestation"
        caption="ID Prestation"
      ></dxi-column>
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [texts]="{ saveRowChanges: 'Enregistrer', cancelRowChanges: 'Annuler' }"
      >
      </dxo-editing>
    </dx-data-grid>
    <br />
    <dx-button
      text="Ajouter une nouvelle prestation"
      (onClick)="openAddPrestationAllPopup()"
    >
    </dx-button>
    <dx-popup
      [width]="'80%'"
      [height]="'80%'"
      [hideOnOutsideClick]="true"
      [showCloseButton]="true"
      [showTitle]="true"
      [(visible)]="popupVisibleAddPrestationAll"
      [title]="'Ajout d une prestation supplémentaire'"
    >
      <div *dxTemplate="let data of 'content'">
        <dx-form [formData]="addPrestAll">
          <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
            <dxi-item
              dataField="id_intervention"
              editorType="dxSelectBox"
              [editorOptions]="{
                dataSource: idsIntervention2,
                valueExpr: 'id_intervention',
                displayExpr: 'id_intervention'
              }"
            >
            </dxi-item>
          </dxi-item>
          <dxi-item
            dataField="id_prestations"
            editorType="dxTagBox"
            [editorOptions]="{
            dataSource: prestationsall,
            valueExpr: 'id_prestation',
            displayExpr: 'libelle_prestation',
            placeholder: 'Sélectionner des prestations',
            width: '100%',
            searchEnabled: true,
            showSelectionControls: true,
            multiline: true,
          }"
          ></dxi-item>
        </dx-form>
        <div style="text-align: center; margin-top: 20px">
          <dx-button
            icon="floppy"
            (click)="onSubmitNewPrestAll($event)"
          ></dx-button>
        </div>
      </div>
    </dx-popup>
  </div>
</dx-popup>

<!-- POPUP POUR SECRETAIRE CREER INTERVENTION/PRESTATION -->
<dx-popup
  [width]="'80%'"
  [height]="'80%'"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupVisibleIntervention"
  title="Créer une nouvelle intervention"
>
  <div *dxTemplate="let data of 'content'">
    <dx-form [formData]="interventionForm">
      <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
        <dxi-item
          dataField="text"
          editorType="dxTextBox"
          [editorOptions]="{
            placeholder:'Intitulé de lintervention',
          }"
        ></dxi-item>

        <dxi-item
          dataField="startDate"
          editorType="dxDateBox"
          [editorOptions]="{
            placeholder:'Début de lintervention',
            width: '100%',
            type: 'datetime',
            displayFormat: 'yyyy-MM-dd HH:mm',
          }"
        ></dxi-item>

        <dxi-item
          dataField="endDate"
          editorType="dxDateBox"
          [editorOptions]="{
            placeholder:'Fin de lintervention',
            width: '100%',
            type: 'datetime',
            displayFormat: 'yyyy-MM-dd HH:mm',
          }"
        ></dxi-item>

        <dxi-item
          dataField="id_patient"
          editorType="dxSelectBox"
          [editorOptions]="{
          dataSource: patients,
          valueExpr: 'id_patient',
          displayExpr: 'nomPrenom',
          placeholder: 'Sélectionner un patient',
          width: '100%',
          searchEnabled: true,
        }"
        ></dxi-item>

        <dxi-item
          dataField="id_personnel"
          editorType="dxSelectBox"
          [editorOptions]="{
      dataSource: soignants,
      valueExpr: 'id_personnel',
      displayExpr: 'nomPrenom',
      placeholder: 'Sélectionner un soignant',
      width: '100%',
      searchEnabled: true,
    }"
        ></dxi-item>

        <dxi-item
          dataField="id_prestations"
          editorType="dxTagBox"
          [editorOptions]="{
          dataSource: prestationsall,
          valueExpr: 'id_prestation',
          displayExpr: 'libelle_prestation',
          placeholder: 'Sélectionner des prestations',
          width: '100%',
          searchEnabled: true,
          showSelectionControls: true,
          multiline: true,
        }"
        ></dxi-item>
      </dxi-item>
    </dx-form>

    <div style="text-align: center; margin-top: 20px">
      <dx-button icon="floppy" (click)="onSubmit($event)"></dx-button>
    </div>
  </div>
</dx-popup>

<dx-scheduler
  *ngIf="interventionbool"
  timeZone="Europe/Paris"
  [dataSource]="agendasPrevisionnels2"
  [views]="['day', 'week', 'workWeek', 'month']"
  currentView="day"
  [currentDate]="currentDate"
  [startDayHour]="9"
  [height]="730"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
  (onAppointmentDeleted)="onAppointmentDeleted($event)"
  (onAppointmentFormHiding)="onDeleteButtonClick($event)"
>
  <dxo-editing [allowUpdating]="true"></dxo-editing>
</dx-scheduler>

<dx-scheduler
  *ngIf="!interventionbool"
  timeZone="Europe/Paris"
  [dataSource]="interventionfiltrermap"
  [views]="['day', 'week', 'workWeek', 'month']"
  currentView="day"
  [currentDate]="currentDate"
  [startDayHour]="9"
  [height]="730"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
>
  <dxo-editing [allowUpdating]="true"></dxo-editing>
</dx-scheduler>

<br />

<dx-button
  type="default"
  (onClick)="CalculItineraire($event)"
  icon="/assets/icons/loc.png"
  text="Itinéraire d'aujourd'hui"
  (onClick)="showPopupItineraire($event)"
  style="margin-right: 10px; margin-left: 10px"
></dx-button>

<dx-popup
  [width]="'80%'"
  [height]="'80%'"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupVisibleitineraire"
  title="Carte des interventions"
>
  <dx-map
    provider="google"
    [apiKey]="'AIzaSyC6aoXl4XsKf8pHYAXD-SGcxZVO0D7R33c'"
    [zoom]="14"
    [height]="440"
    width="100%"
    [controls]="true"
    [markers]="markers"
    [routes]="[route]"
    routeColorField="color"
    routeModeField="mode"
  >
  </dx-map>
  <br />

  <dx-data-grid
    id="gridContainer"
    [dataSource]="filteredUsers"
    [showBorders]="true"
  >
    <dxi-column
      dataField="adresse_patient"
      caption="Adresse du patient"
    ></dxi-column>
    <dxi-column dataField="nom_patient" caption="Nom du patient"></dxi-column>
    <dxi-column
      dataField="prenom_patient"
      caption="Prenom du patient"
    ></dxi-column>
  </dx-data-grid>
</dx-popup>

<br />
