
<br>
<dx-button
  type="default"
  (onClick)="showPopupIntervention($event)"
  icon="/assets/icons/intervention.png"
  text="Intervention médicale"
  *ngIf="interventionbool"
  style="margin-right: 10px; margin-left: 10px;"
></dx-button>

<dx-button
  type="default"
  (onClick)="showPopupPrestation($event)"
  icon="/assets/icons/prestation.png"
  text="Prestation médicale"
  *ngIf="interventionbool"
></dx-button>

<br>
<br>

<dx-popup
  [width]="'80%'"
  [height]="'80%'"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupVisiblePrestation"
  title="Créer une nouvelle prestation"
>
  <div *dxTemplate="let data of 'content'">
    <dx-form [formData]="prestationfrom">
      <dxi-item itemType="group" cssClass="form-group" [colCount]="2">


        










    
        <label for="categorie">Sélectionnez une catégorie :</label>
        <select id="categorie" name="categorie" onchange="updateSousCategorie()">
          <option value="actes-soin">Actes de soin</option>
          <option value="actes-analyse">Actes d’analyse</option>
          <option value="actes-preventifs">Actes préventifs</option>
        </select>
        
        <label for="sousCategorie">Sélectionnez une prestation :</label>
        <select id="sousCategorie" name="sousCategorie">
          <!-- Les options seront mises à jour dynamiquement par JavaScript -->
        </select>
        
        <script>
        function updateSousCategorie() {
          var categorieSelect = document.getElementById("categorie");
          var sousCategorieSelect = document.getElementById("sousCategorie");
        
          // Réinitialiser la liste des titres
          sousCategorieSelect.innerHTML = "";
        
          // Récupérer la valeur sélectionnée dans le premier menu déroulant
          var categorie = categorieSelect.value;
        
          // Ajouter les options en fonction de la catégorie sélectionnée
          switch (categorie) {
            case "actes-soin":
              addOption(sousCategorieSelect, "Pose / retrait d’une attelle");
              addOption(sousCategorieSelect, "Nettoyage d’une plaie");
              addOption(sousCategorieSelect, "Changement d’un pansement");
              addOption(sousCategorieSelect, "Remise en place d’une articulation");
              addOption(sousCategorieSelect, "Toilette du patient");
              break;
        
            case "actes-analyse":
              addOption(sousCategorieSelect, "Prise de sang");
              addOption(sousCategorieSelect, "Prise d’échantillon buccal");
              addOption(sousCategorieSelect, "Prise d’autres échantillons");
              break;
        
            case "actes-preventifs":
              addOption(sousCategorieSelect, "Evaluation Sevrage Alcoolisme");
              addOption(sousCategorieSelect, "Evaluation Sevrage Tabagisme");
              addOption(sousCategorieSelect, "Evaluation Psychologique Dépression");
              addOption(sousCategorieSelect, "Evaluation Psychologique Dépression");
              break;
        
            default:
              break;
          }
        }
        
        function addOption(select, text) {
          var option = document.createElement("option");
          option.value = text;
          option.text = text;
          select.add(option);
        }
        </script>
        
        </body>
        </html>































        <dxi-item
          dataField="libelle_prestation"
          editorType="dxTextBox"
          [editorOptions]="{
            placeholder:'Intitulé de la prestation',
          }"
        ></dxi-item>

        <dxi-item
          dataField="date_prestation"
          editorType="dxDateBox"
          [editorOptions]="{
            placeholder:'Date et heure de la prestation',
            width: '100%',
            type: 'datetime',
            displayFormat: 'yyyy-MM-dd HH:mm',
          }"
        ></dxi-item>

        <dxi-item
        dataField="id_categorie"
        editorType="dxSelectBox"
        [editorOptions]="{
          dataSource: categories,
          valueExpr: 'id_categorie',
          displayExpr: 'libelle_categorie',
          placeholder: 'Sélectionner une catégorie',
          width: '100%',
          searchEnabled: true,
        }"
      ></dxi-item>

      <dxi-item
      dataField="id_intervention"
      editorType="dxSelectBox"
      [editorOptions]="{
        dataSource: agendasPrevisionnels,
        valueExpr: 'id_intervention',
        displayExpr: 'libelle_intervention',
        placeholder: 'Sélectionner une intervention',
        width: '100%',
        searchEnabled: true,
      }"
    ></dxi-item>

    <dxi-item
  dataField="prix_prestation"
  editorType="dxNumberBox"
  [editorOptions]="{
    placeholder:'Prix de la prestation',
    width: '100%',
    showSpinButtons: true,
    min: 0,
    format: '#,##0.00€',
  }"
  ></dxi-item>


    
      
      </dxi-item>
    </dx-form>

    <div style="text-align: center; margin-top: 20px">
      <dx-button icon="floppy" (click)="onSubmitPrestation(prestationfrom)"></dx-button>
    </div>

  </div>
</dx-popup>

<dx-popup
  [width]="'80%'"
  [height]="'80%'"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupVisibleIntervention"
  title="Créer une nouvelle intervention"
>
  <div *dxTemplate="let data of 'content'">
    <dx-form [formData]="interventionForm">
      <dxi-item itemType="group" cssClass="form-group" [colCount]="2">

        <dxi-item
          dataField="text"
          editorType="dxTextBox"
          [editorOptions]="{
            placeholder:'Intitulé de lintervention',
          }"
        ></dxi-item>

        <dxi-item
          dataField="startDate"
          editorType="dxDateBox"
          [editorOptions]="{
            placeholder:'Début de lintervention',
            width: '100%',
            type: 'datetime',
            displayFormat: 'yyyy-MM-dd HH:mm',
          }"
        ></dxi-item>

        <dxi-item
          dataField="endDate"
          editorType="dxDateBox"
          [editorOptions]="{
            placeholder:'Fin de lintervention',
            width: '100%',
            type: 'datetime',
            displayFormat: 'yyyy-MM-dd HH:mm',
          }"
        ></dxi-item>

        <dxi-item
        dataField="id_patient"
        editorType="dxSelectBox"
        [editorOptions]="{
          dataSource: patients,
          valueExpr: 'id_patient',
          displayExpr: 'nomPrenom',
          placeholder: 'Sélectionner un patient',
          width: '100%',
          searchEnabled: true,
        }"
      ></dxi-item>

      <dxi-item
      dataField="id_personnel"
      editorType="dxSelectBox"
      [editorOptions]="{
        dataSource: soignants,
        valueExpr: 'id_personnel',
        displayExpr: 'nomPrenom',
        placeholder: 'Sélectionner un soignant',
        width: '100%',
        searchEnabled: true,
      }"
    ></dxi-item>
      
      </dxi-item>
    </dx-form>

    <div style="text-align: center; margin-top: 20px">
      <dx-button icon="floppy" (click)="onSubmit($event)"></dx-button>
    </div>

  </div>
</dx-popup>

<dx-scheduler
  *ngIf="interventionbool"
  timeZone="Europe/Paris"
  [dataSource]="agendasPrevisionnels2"
  [views]="['day', 'week', 'workWeek', 'month']"
  currentView="day"
  [currentDate]="currentDate"
  [startDayHour]="9"
  [height]="730"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
  (onAppointmentDeleted)="onAppointmentDeleted($event)"
  (onAppointmentFormHiding)="onDeleteButtonClick($event)"
>
</dx-scheduler>


<dx-scheduler
  *ngIf="!interventionbool"
  timeZone="Europe/Paris"
  [dataSource]="interventionfiltrermap"
  [views]="['day', 'week', 'workWeek', 'month']"
  currentView="day"
  [currentDate]="currentDate"
  [startDayHour]="9"
  [height]="730"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
>
</dx-scheduler>
<br>

<dx-button
  type="default"
  (onClick)="CalculItineraire($event)"
  icon="/assets/icons/loc.png"
  text="Itinéraire d'aujourd'hui"
  (onClick)="showPopupItineraire($event)"
  style="margin-right: 10px; margin-left: 10px;"
></dx-button>


<dx-popup
  [width]="'80%'"
  [height]="'80%'"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupVisibleitineraire"
  title="Carte des interventions"
>

<dx-map
  provider="google"
  [apiKey]="'AIzaSyC6aoXl4XsKf8pHYAXD-SGcxZVO0D7R33c'"
  [zoom]="14"
  [height]="440"
  width="100%"
  [controls]="true"
  [markers]="markers"
  [routes]="[route]"
  routeColorField="color"
  routeModeField="mode"
>
</dx-map>
<br>

<dx-data-grid
  id="gridContainer"
  [dataSource]="itinerairemap"
  [showBorders]="true"
>
</dx-data-grid>


</dx-popup>

<br/>
