<br />

<dx-button
  type="default"
  (onClick)="showPopupEditIntervention($event)"
  icon="/assets/icons/intervention.png"
  text="Editer mes interventions"
  style="margin-right: 10px; margin-left: 10px"
  *ngIf="!interventionbool"
></dx-button>

<br/>
<br/>

<!-- POPUP POUR INFIRMIER -->
<dx-popup
  [width]="'80%'"
  [height]="'80%'"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupVisibleEditIntervention"
  title="Editer mes interventions"
>
  <div>
    <h2>Edition des interventions</h2>

    <dx-data-grid
      id="gridContainerInterventions"
      [dataSource]="interventionfiltrermapday"
      keyExpr="id_intervention"
      [showBorders]="true"
      (onRowUpdating)="onRowUpdating($event)"
    >
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [texts]="{ saveRowChanges: 'Enregistrer', cancelRowChanges: 'Annuler' }"
      >
      </dxo-editing>
    </dx-data-grid>
  </div>

  <div>
    <h2>Edition des prestations du jour</h2>

    <dx-data-grid
      id="gridContainerPrestations"
      [dataSource]="prestationsFiltrees"
      keyExpr="id_intervention"
      [showBorders]="true"
      (onRowUpdating)="onRowUpdating2($event)"
    >
      <dxi-column
        dataField="id_intervention"
        caption="ID Intervention"
      ></dxi-column>
      <dxi-column
        dataField="libelle_prestation"
        caption="Libellé Prestation"
      ></dxi-column>
      <dxi-column
        dataField="id_prestation"
        caption="ID Prestation"
      ></dxi-column>
      <dxo-editing
        mode="popup"
        [texts]="{ saveRowChanges: 'Enregistrer', cancelRowChanges: 'Annuler' }"
      >
      </dxo-editing>
    </dx-data-grid>
    <br />
    <dx-button
      text="Ajouter une nouvelle prestation"
      (onClick)="openAddPrestationPopup()"
    >
    </dx-button>

    <dx-popup
      [width]="'80%'"
      [height]="'80%'"
      [hideOnOutsideClick]="true"
      [showCloseButton]="true"
      [showTitle]="true"
      [(visible)]="popupVisibleAddPrestation"
      [title]="'Ajout d une prestation supplémentaire'"
    >
      <div *dxTemplate="let data of 'content'">
        <dx-form [formData]="addPrest">
          <dxi-item itemType="group" cssClass="form-group" [colCount]="2">
            <dxi-item
              dataField="id_intervention"
              editorType="dxSelectBox"
              [editorOptions]="{
          dataSource: idsInterventionArray,
          displayExpr: 'id_intervention',
        }"
            >
            </dxi-item>
            <dxi-item
              dataField="id_prestations"
              editorType="dxTagBox"
              [editorOptions]="{
            dataSource: prestationsall,
            valueExpr: 'id_prestation',
            displayExpr: 'libelle_prestation',
            placeholder: 'Sélectionner des prestations',
            width: '100%',
            searchEnabled: true,
            showSelectionControls: true,
            multiline: true,
          }"
            ></dxi-item>
          </dxi-item>
        </dx-form>
        <div style="text-align: center; margin-top: 20px">
          <dx-button
            icon="floppy"
            (click)="onSubmitNewPrest($event)"
          ></dx-button>
        </div>
      </div>
    </dx-popup>
  </div>
</dx-popup>


<dx-scheduler
  *ngIf="interventionbool"
  timeZone="Europe/Paris"
  [dataSource]="agendasPrevisionnels2"
  [views]="['day', 'week', 'workWeek', 'month']"
  currentView="day"
  [currentDate]="currentDate"
  [startDayHour]="9"
  [height]="730"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
  (onAppointmentDeleted)="onAppointmentDeleted($event)"
  (onAppointmentFormHiding)="onDeleteButtonClick($event)"
>
  <dxo-editing [allowUpdating]="true"></dxo-editing>
</dx-scheduler>

<dx-scheduler
  *ngIf="!interventionbool"
  timeZone="Europe/Paris"
  [dataSource]="interventionfiltrermap"
  [views]="['day', 'week', 'workWeek', 'month']"
  currentView="day"
  [currentDate]="currentDate"
  [startDayHour]="9"
  [height]="730"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
>
  <dxo-editing [allowUpdating]="true"></dxo-editing>
</dx-scheduler>

<br />

<dx-button
  type="default"
  (onClick)="CalculItineraire($event)"
  icon="/assets/icons/loc.png"
  text="Itinéraire d'aujourd'hui"
  (onClick)="showPopupItineraire($event)"
  style="margin-right: 10px; margin-left: 10px"
></dx-button>

<dx-popup
  [width]="'80%'"
  [height]="'80%'"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupVisibleitineraire"
  title="Carte des interventions"
>
  <dx-map
    provider="google"
    [apiKey]="'AIzaSyC6aoXl4XsKf8pHYAXD-SGcxZVO0D7R33c'"
    [zoom]="14"
    [height]="440"
    width="100%"
    [controls]="true"
    [markers]="markers"
    [routes]="[route]"
    routeColorField="color"
    routeModeField="mode"
  >
  </dx-map>
  <br />

  <dx-data-grid
    id="gridContainer"
    [dataSource]="filteredUsers"
    [showBorders]="true"
  >
    <dxi-column
      dataField="adresse_patient"
      caption="Adresse du patient"
    ></dxi-column>
    <dxi-column dataField="nom_patient" caption="Nom du patient"></dxi-column>
    <dxi-column
      dataField="prenom_patient"
      caption="Prenom du patient"
    ></dxi-column>
  </dx-data-grid>
</dx-popup>




<dx-popup
  *ngIf="isPopupVisible"
  [visible]="isPopupVisible"
  [title]="'Bon Observation'"
>
  <div>
    <p>Sélectionnez le stagiaire :</p>
    <dx-select-box
    [dataSource]="stagiaires"
    [(value)]="selectedStagiaire"
    displayExpr="displayFullName"
    valueExpr="id_personnel"
    (onSelectionChanged)="onStagiaireSelectionChanged($event)"
  >
  </dx-select-box>
  
  </div>

  <div>
    <p>Évaluation sur 5 :</p>
    <dx-number-box
      [(value)]="rating"
      [min]="0"
      [max]="5"
      [showSpinButtons]="true"
      [showClearButton]="true"
    >
    </dx-number-box>
  </div>

  <div>
    <p>Commentaire :</p>
    <dx-html-editor height="500" [value]="comment"   (onValueChanged)="onHtmlEditorValueChanged($event)">
      <dxo-toolbar [multiline]="isMultiline">
        <dxi-item name="undo"></dxi-item>
        <dxi-item name="redo"></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item
          name="size"
          [acceptedValues]="[
            '8pt',
            '10pt',
            '12pt',
            '14pt',
            '18pt',
            '24pt',
            '36pt'
          ]"
          [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
        ></dxi-item>
        <dxi-item
          name="font"
          [acceptedValues]="[
            'Arial',
            'Courier New',
            'Georgia',
            'Impact',
            'Lucida Console',
            'Tahoma',
            'Times New Roman',
            'Verdana'
          ]"
          [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
        ></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item name="bold"></dxi-item>
        <dxi-item name="italic"></dxi-item>
        <dxi-item name="strike"></dxi-item>
        <dxi-item name="underline"></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item name="alignLeft"></dxi-item>
        <dxi-item name="alignCenter"></dxi-item>
        <dxi-item name="alignRight"></dxi-item>
        <dxi-item name="alignJustify"></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item name="orderedList"></dxi-item>
        <dxi-item name="bulletList"></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item
          name="header"
          [acceptedValues]="[false, 1, 2, 3, 4, 5]"
          [options]="{ inputAttr: { 'aria-label': 'Header' } }"
        ></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item name="color"></dxi-item>
        <dxi-item name="background"></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item name="link"></dxi-item>
        <dxi-item name="image"></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item name="clear"></dxi-item>
        <dxi-item name="codeBlock"></dxi-item>
        <dxi-item name="blockquote"></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item name="insertTable"></dxi-item>
        <dxi-item name="deleteTable"></dxi-item>
        <dxi-item name="insertRowAbove"></dxi-item>
        <dxi-item name="insertRowBelow"></dxi-item>
        <dxi-item name="deleteRow"></dxi-item>
        <dxi-item name="insertColumnLeft"></dxi-item>
        <dxi-item name="insertColumnRight"></dxi-item>
        <dxi-item name="deleteColumn"></dxi-item>
      </dxo-toolbar>
      <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
    </dx-html-editor>
    <div style="text-align: center; margin-top: 20px">
      <dx-button icon="floppy" (click)="saveData()">Enregistrer</dx-button>
    </div>
  </div>
  <div></div>
</dx-popup>
<br />
